sentence-transformers==5.5.1
scikit-learn==1.9.0
fpdf2==2.8.7
streamlit==1.58.0
pandas==3.0.3
anthropic==0.109.1
pytest==9.0.3
markdown-pdf==1.13.2
torchvision==0.27.0
libarchive-c==5.3
joblib==1.5.3
